.fcp-modal{
    margin-top: 100px;
}

.fcp-modal .modal-content{
    border-radius: 10px;
    border: 2px solid #ababab;
}

.fcp-modal__header{
    background-color: #EFF1F5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #ababab !important;
}

.fcp-modal__header .modal-title{
    font-size: 20px !important;
}

.fcp-modal__content{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.fcp-modal__icon-password{
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.fcp-modal__icon-confirmation{
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}