.create-user{
    max-width: 500px;
    margin: 0 auto;
}

.create-user__title{
    font-weight: bold;
    color: #CF2338;
}

.create-user__radio:checked{
    background-color: #CF2338 !important;
    border-color: #CF2338 !important;
}

.create-user__icon-calendar{
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}